@import "lib";

.before-after-slider {
  position: relative;
  overflow: hidden;
  --position: 50%;
  background-color: inherit;
  width: 100%;
  max-width: 600px;
  height: auto;
}

.before-after-slider__image-container {
  width: 100%;
  height: auto;
  background-color: inherit;
}

.before-after-slider__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: left;
  background-color: inherit;
}

.before-after-slider__image-before {
  position: absolute;
  inset: 0;
  clip-path: polygon(0 0, var(--position) 0, var(--position) 100%, 0 100%);
}

.before-after-slider__image-after {
  clip-path: polygon(var(--position) 0, 100% 0, 100% 100%, var(--position) 100%);
}

.before-after-slider__slider {
  margin: 0;
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  /* for Firefox */
  width: 100%;
  height: 100%;
}

.before-after-slider__slider:focus-visible ~ .before-after-slider__slider-button-wrapper {
  outline: 5px solid $color-black;
  outline-offset: 3px;
}

.before-after-slider__slider-line {
  position: absolute;
  inset: 0;
  width: 2px;
  border-radius: 5px;
  height: 100%;
  background-color: $color-black-light;
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.before-after-slider__slider-button-wrapper {
  position: absolute;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.before-after-slider__slider-button {
  width: 40px;
  height: 40px;
}
