@import "lib/mixins";
@import "lib/vars";
@import "lib/colors";

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 20px;
  min-height: 40px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  word-break: break-word;

  &--long {
    width: 100%;
  }
}
