@import "lib";

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 20px;
  min-height: 40px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  word-break: break-word;

  &--long {
    width: 100%;
  }

  @include tablet-min-width {
    &--tall {
      min-height: 54px;
      font-size: 20px;
      line-height: 26px;
    }
  }
}
