@import "lib";

.button-primary {
  background-color: $color-green;
  color: $color-white;
  transition: background-color 0.3s ease, opacity 0.3s ease;

  &:hover {
    background-color: $button-primary-hover;
  }

  &:focus {
    background-color: $button-primary-hover;
  }

  &:active {
    color: $color-white-active;
  }
}
