@import "lib";

.button-secondary {
  background-color: $color-gray-light;
  color: $color-black-dark;
  transition: background-color 0.3s ease, opacity 0.3s ease;

  &:hover {
    background-color: $button-secondary-hover;
  }

  &:focus {
    background-color: $button-secondary-hover;
  }

  &:active {
    opacity: 0.8;
  }
}
