@import "lib";

.card {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;

  &--show-more {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
  }

  &--other-products {
    flex-direction: column;
    padding-top: 12px;
    padding-bottom: 19px;
    grid-template-columns: 1fr;
  }

  &--other-products:last-child {
    border-bottom: 1px solid $color-special-gray;
  }

  @include tablet-min-width {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    background-color: $color-gray-light;

    &--other-products {
      display: grid;
      grid-template-columns: 3fr 2fr;
      border: 1px solid $color-special-gray;
      padding: 24px 37px 28px;
      align-items: baseline;
      border-bottom: none;
      background-color: unset;
    }

    &--show-more {
      background-color: inherit;
      border: 1px solid $color-gray-light;
      padding-top: 50px;
      margin-top: 70px;
    }
  }

  @include desktop-min-width {
    &--other-products {
      grid-template-columns: 1fr 1fr 245px;
      align-items: center;
      padding: 16px 0 15px;
      gap: 0;
    }
  }
}

.card__image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 1/3;
  top: 0;
  left: 0;

  @include tablet-min-width {
    background-image: linear-gradient(to bottom, $color-white 0%, $color-white 33%, $color-gray-light 33%, $color-gray-light 100%);
    height: 210px;
    position: unset;
    margin-bottom: 23px;
  }

  @include desktop-min-width {
    margin-bottom: 10px;
  }
}

.card__link {
  grid-column: 2/3;
  text-decoration: none;
  color: $color-black;

  &--show-more {
    grid-column: 1/-1;
    display: grid;
    justify-items: center;
  }

  @include tablet-min-width {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
  }
}

.card__image {
  object-fit: cover;

  &--show-more {
    margin-bottom: 23px;
    width: 30px;
    height: 30px;
  }

  @include tablet-min-width {
    display: flex;
    margin: 0 auto;

    &--show-more {
      width: 60px;
      height: 60px;
      margin-bottom: 50px;
    }
  }

  @include desktop-min-width {
    &--show-more {
      margin-bottom: 40px;
    }
  }
}

.card__content {
  width: unset;
  grid-column: 2/3;

  &--show-more {
    grid-column: 1/-1;
  }

  @include tablet-min-width {
    width: 100%;
    box-sizing: border-box;
    padding: 0 37px;
  }
}

.card__header {
  margin: 0 0 14px;
  padding: 0;
  width: 90px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  word-break: break-word;

  &--show-more {
    width: fit-content;
    text-align: center;
    margin: 0 auto 8px;
  }

  &--other-products {
    width: 100%;
    margin-bottom: 9px;
  }

  @include tablet-min-width {
    width: 135px;
    margin: 0 auto 18px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;

    &--show-more {
      margin-bottom: 20px;
    }

    &--other-products {
      display: flex;
      width: 100%;
      margin: 0;
    }
  }

  @include desktop-min-width {
    margin-bottom: 26px;

    &--show-more {
      margin-bottom: 24px;
    }

    &--other-products {
      margin-bottom: 0;
    }
  }
}

.card__info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  word-break: break-word;
  gap: 15px;

  &--other-products {
    font-size: 14px;
    line-height: 14px;
    grid-row: 2/3;
  }

  &--show-more {
    justify-content: center;
  }

  @include tablet-min-width {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid $color-special-gray;

    &--show-more {
      width: 170px;
      margin: 0 auto;
      border: none;
    }

    &--other-products {
      border: none;
      padding: 0;
      width: unset;
      margin-right: 3px;
      justify-content: flex-end;
      grid-column: 2/3;
      grid-row: unset;
      gap: 50px;
    }
  }

  @include desktop-min-width {
    line-height: 16px;
    padding-bottom: 9px;

    &--show-more {
      line-height: 18px;
      padding-bottom: 14px;
    }

    &--other-products {
      display: grid;
      grid-template-columns: 194px 78px;
      justify-items: start;
      padding-bottom: 0;
    }
  }
}

.card__info:not(:first-of-type) {
  @include tablet-min-width {
    margin-top: 5px;
  }

  @include desktop-min-width {
    margin-top: 7px;
  }
}

.card__info-right {
  display: flex;
  align-items: center;

  @include tablet-min-width {
    min-width: 41px;
    max-width: 40%;
    justify-content: flex-end;
  }

  @include desktop-min-width {
    flex-shrink: 0;
    justify-content: unset;
  }
}

.card__button-wrapper {
  grid-column: 1/-1;
  width: 100%;

  @include tablet-min-width {
    width: 100%;
    box-sizing: border-box;
    padding: 0 37px;
  }
}

.card__button {
  margin-top: 20px;

  &--other-products {
    margin-top: 15px;
    grid-row: 3/4;
  }

  &--show-more {
    margin-top: 21px;
  }

  @include tablet-min-width {
    margin: 31px 0 40px;
    box-sizing: border-box;

    &--other-products {
      margin-top: 21px;
      margin-bottom: 0;
      grid-column: 1/-1;
    }

    &--show-more {
      margin-top: 73px;
    }
  }

  @include desktop-min-width {
    margin-top: 33px;

    &--other-products {
      grid-column: 3 / 4;
      grid-row: span 1;
      margin-top: 0;
    }

    &--show-more {
      margin-top: 75px;
    }
  }
}
