.card-other-products__header {
  margin: 0;
  margin-bottom: 13px;
  padding-top: 13px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: #222222;
}

.card-other-products__info {
  display: flex;
  justify-content: space-between;
  color: #444444;
}

.card-other-products__button {
  margin-top: 15px;
}
