@import "lib";

.catalog {
  align-self: stretch;
}

.catalog__header {
  margin: 0 0 40px;
  padding-top: 27px;

  @include tablet-min-width {
    padding-top: 51px;
    margin-bottom: 95px;
  }

  @include desktop-min-width {
    padding-top: 60px;
  }
}
