@import "lib";

.description-item {
  display: flex;
  align-items: center;
  gap: 20px;

  @include tablet-min-width {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
    min-height: 280px;
  }
}

.description-item__number {
  display: none;

  @include tablet-min-width {
    position: absolute;
    display: flex;
    align-items: baseline;
    font-size: 280px;
    line-height: 280px;
    font-family: "Oswald", "Arial", sans-serif;
    bottom: 0;
    right: 3px;
    z-index: -1;
    color: $color-gray-light;
  }

  @include desktop-min-width {
    right: -2px;
  }
}

.description-item__icon {
  background-color: $color-green;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 15px;
  flex-shrink: 0;

  @include tablet-min-width {
    margin-top: 40px;
    padding: 26px;
    width: 80px;
    height: 80px;
  }
}

.description-item__text {
  word-break: break-word;
  margin: 0;

  &--color {
    color: $color-black-dark;
  }

  @include tablet-min-width {
    font-size: 16px;
    line-height: 24px;
  }
}
