.description-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.description-item:not(:last-child) {
  margin-bottom: 20px;
}

.description-item:last-child {
  padding-bottom: 49px;
}

.description-item__icon {
  background-color: #68b738;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 15px;
  flex-shrink: 0;
}

.description-item__text {
  word-break: break-word;
  margin: 0;
}

.description-item__text--color {
  color: #444444;
}
