@import "lib";

.description {
  display: grid;
  gap: 20px;
  list-style-type: none;

  @include tablet-min-width {
    display: grid;
    align-items: start;
    gap: 37px 134px;
    grid-template-columns: repeat(2, 250px);
  }

  @include desktop-min-width {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}
