@import "lib";

.fieldset {
  display: flex;
  flex-direction: column;
}

.fieldset__item {
  display: flex;
  align-items: center;
  position: relative;
  gap: 13px;

  @include desktop-min-width {
    grid-column: span 2;
  }
}

.fieldset__input {
  width: 140px;
  padding: 14px 15px 10px;
  flex-grow: 1;

  font-size: 16px;
  line-height: 19px;
  border: 1px solid $color-special-gray;
  font-family: "Oswald", "Arial", sans-serif;
  color: $color-black-dark;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    --webkit-appearance: none;
  }

  &:user-invalid {
    box-shadow: inset 0 0 0 2px $color-error;
    border-color: transparent;
  }

  &:user-invalid ~ .fieldset__icon {
    stroke: $color-error;
  }

  .fieldset__input:hover ~ .fieldset__icon {
    fill: #68b738;
  }

  @include tablet-min-width {
    padding: 10px 20px;
    font-size: 20px;
  }
}

.fieldset__textarea {
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
  padding: 15px 14px;
  resize: none;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  border: 1px solid $color-special-gray;

  @include tablet-min-width {
    min-height: 175px;
    font-size: 20px;
    padding: 10px 20px;
  }

  @include desktop-min-width {
    padding: 8px 19px;
  }
}

.fieldset__input:focus ~ .fieldset__icon {
  stroke: $color-green;
}

.fieldset__icon {
  position: absolute;
  right: 14px;
  width: 20px;
  height: 20px;
  fill: none;
  stroke: $color-black;

  &--error {
    stroke: $color-error;
  }

  @include desktop-min-width {
    right: 16px;
  }
}
