@import "lib";

.fieldset {
  display: flex;
  flex-direction: column;
}

.fieldset__item {
  display: flex;
  align-items: center;
  position: relative;
  gap: 13px;

  @include desktop-min-width {
    grid-column: span 2;
  }
}

.fieldset__input {
  width: 10px;
  padding: 12px 15px;
  flex-grow: 1;

  font-size: 16px;
  line-height: 19px;
  border: 1px solid $color-special-gray;
  font-family: "Oswald", sans-serif;
  color: $color-black-dark;

  @include tablet-min-width {
    padding: 10px 15px;
    font-size: 20px;
  }
}

.fieldset__textarea {
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
  padding: 14px;
  resize: none;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  border: 1px solid $color-special-gray;

  @include tablet-min-width {
    min-height: 175px;
    font-size: 20px;
  }
}

.fieldset__icon {
  position: absolute;
  right: 12px;
}
