.footer__social {
  padding: 40px 20px;
}

.footer__social--bg-c {
  background-color: #f2f2f2;
}

.footer__social-list {
  padding: 20px 0;
  border-top: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
  width: 100%;
}

.footer__partners {
  width: 100%;
  margin-top: 20px;
}
