@import "lib";

.footer__social {
  padding-top: 40px;
  padding-bottom: 40px;

  @include tablet-min-width {
    padding-top: 43px;
    padding-bottom: 45px;
  }

  @include desktop-min-width {
    padding-bottom: 55px;
    padding-top: 53px;
  }
}

.footer__social--bg-c {
  background-color: $color-gray-light;
}

.footer__social-list {
  padding: 20px 0 19px 0;
  border-top: 1px solid $color-gray-dark;
  border-bottom: 1px solid $color-gray-dark;
  width: 100%;

  @include tablet-min-width {
    width: 33%;
  }
}
