.form {
  width: 280px;
}

.form__header {
  margin: 0;
  margin-bottom: 37px;
  padding-top: 27px;
  letter-spacing: -3px;
}

.form__header-slogan {
  margin: 0;
  margin-bottom: 39px;
}

.form__cat-info {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  border: none;
}

.form__radio-buttons {
  margin: 0;
  padding: 22px 0 19px;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  border-top: 2px solid #d9d9d9;
}

.form__user-contacts {
  margin: 0;
  padding: 0;
  border: none;
}

.form__comments {
  margin: 0;
  padding: 0;
  border: none;
}

.fieldset__other-products {
  margin: 0;
  padding: 0;
  border: none;
}

.form__button {
  margin-top: 34px;
}

.form__note {
  text-align: center;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 32px;
}
