@import "lib";

.header__wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;

  @include tablet-min-width {
    padding-top: 25px;
    justify-content: flex-start;
  }

  @include desktop-min-width {
    padding-top: 55px;
  }
}

.header__logo {
  margin-right: 5px;

  @include tablet-min-width {
    margin-right: 13px;
  }

  @include desktop-min-width {
    margin-right: 14px;
  }
}

.header__navigation {
  margin-left: 5px;

  @include tablet-min-width {
    flex-grow: 1;
  }
}

.header__font-logo {
  @include tablet-min-width {
    margin-right: 20px;
    flex-shrink: 0;
  }
}
