.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

.header__logo {
  margin-right: 5px;
}

.header__logo2 {
  display: none;
}

.header__logo3 {
  display: none;
}


.header__navigation {
  margin-left: 5px;
}
