@import "lib";

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 480px;

  @include tablet-min-width {
    align-items: flex-start;
    min-height: 860px;
  }

  @include desktop-min-width {
    min-height: 566px;
    margin-bottom: 81px;
  }
}

.hero__background-wrapper {
  position: absolute;
  background-color: $color-green;
  left: 0;
  right: 0;
  top: 0;
  bottom: 198px;
  object-fit: cover;
  z-index: -1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    background-color: $color-green;
  }

  @include tablet-min-width {
    display: none;
  }

  @include desktop-min-width {
    display: flex;
    left: 50%;
    top: -130px;
    height: 695px;
  }
}

.hero__background-photo {
  display: block;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero__header {
  margin: 0 0 25px;
  padding-top: 25px;
  order: -3;
  text-align: center;
  max-width: 320px;

  &--color {
    color: $color-white;
  }

  @include tablet-min-width {
    max-width: 420px;
    align-self: flex-start;
    margin-bottom: 40px;
    padding-top: 50px;

    line-height: 60px;
    text-align: left;
    color: $color-black;
  }

  @include desktop-min-width {
    padding-top: 96px;
  }
}

.hero__header-slogan {
  margin: 0 0 29px;
  order: -2;
  text-align: center;
  text-transform: uppercase;

  &--color {
    color: $color-white;
  }

  @include tablet-min-width {
    align-self: flex-start;
    margin-bottom: 49px;
    text-align: left;
  }

  @include desktop-min-width {
    margin-bottom: 0;
  }
}

.hero__button {
  margin-top: 3px;
  margin-bottom: 20px;

  @include tablet-min-width {
    align-self: flex-start;
    order: -1;
    max-width: 244px;
    margin-bottom: 0;
    margin-top: 1px;
    padding: 14px 40px;
  }

  @include desktop-min-width {
    margin-top: 52px;
  }
}

.hero__image {
  display: block;

  @include tablet-min-width {
    position: absolute;
    bottom: 0;
    left: 30px;
    display: block;
    z-index: -1;
  }

  @include desktop-min-width {
    position: absolute;
    top: 14px;
    left: 58%;
    transform: translateX(-50%);
  }
}
