.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 480px;
}

.hero__background-wrapper {
  position: absolute;
  background-color: #68b738;
  left: 0;
  right: 0;
  top: 0;
  bottom: 195px;
  object-fit: cover;
  z-index: -1;
}

.hero__background-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(105, 183, 56, 0.85);
}

.hero__background-photo {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero__header {
  margin: 0 0 25px;
  padding-top: 27px;
  text-align: center;
  max-width: 320px;
}

.hero__header--color {
  color: #ffffff;
}

.hero__header-slogan {
  margin: 0 0 29px;
  text-align: center;
}

.hero__header-slogan--color {
  color: #ffffff;
}

.hero__button {
  margin-top: auto;
  margin-bottom: 20px;
}

.hero__image2 {
  display: none;
}
