@import "lib";

.label {
  font-family: "Oswald", "Arial", sans-serif;
  color: $color-black-dark;
  line-height: 18px;
  font-size: 16px;
  cursor: pointer;
  word-break: break-word;

  @include tablet-min-width {
    font-size: 20px;
  }
}

.label--uppercase {
  text-transform: uppercase;
}
