@import "lib/mixins";
@import "lib/vars";
@import "lib/colors";

.living-example {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 25px;

  &--bg-c {
    background-color: $color-gray;
  }

  @include tablet-min-width {
    padding-top: 45px;
    border-top: 1px solid $color-gray--dark;

    &--bg-c {
      background-color: unset;
      background-image: linear-gradient(180deg, $color-white 0%, $color-white 55%, $before-after-slider-color 55%, $before-after-slider-color 100%);
    }
  }

  @include desktop-min-width {
    display: grid;
    gap: 60px 79px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;

    &--bg-c {
      background-color: unset;
      background-image: linear-gradient(180deg, $color-white 0%, $color-white 30%, $before-after-slider-color 30%, $before-after-slider-color 100%);
    }
  }
}

.living-example__header {
  margin: 0 0 40px;
  align-self: flex-start;

  @include tablet-min-width {
    margin-bottom: 60px;
  }

  @include desktop-min-width {
    grid-row: 1 / 2;
    margin: 0 0 86px;
  }
}

.living-example__text {
  margin: 0 0 20px;
  word-break: break-word;

  &--color {
    color: $color-black--dark;
  }

  @include tablet-min-width {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @include desktop-min-width {
    margin: 0 0 9px;
  }
}

.living-example__wrapper {
  background-color: inherit;

  @include tablet-min-width {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @include desktop-min-width {
    align-self: start;
    flex-direction: column;
    align-items: flex-start;
  }
}

.living-example__results-wrapper {
  display: flex;
  background-color: inherit;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 34px;

  @include tablet-min-width {
    gap: 43px;
  }
}

.living-example__cost {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 20px;
  font-weight: 700;
  text-align: center;

  @include tablet-min-width {
    font-size: 20px;
    line-height: 20px;
    width: 175px;
    text-align: right;
  }

  @include desktop-min-width {
    width: auto;
    margin: 0;
  }
}

.living-example__before-after-slider {
  @include desktop-min-width {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}
