@import "lib";

.main-content {
  @include desktop-min-width {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.main-content__program-wrapper {
  @include desktop-min-width {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-bottom: 58px;
  }
}

.main-content__program {
  margin-bottom: 20px;
  align-items: center;
  background-color: $color-gray-light;
  padding: 23px 20px 17px;

  @include tablet-min-width {
    padding: 77px 64px 59px 53px;
    margin-bottom: 30px;
  }

  @include desktop-min-width {
    padding: 47px 67px 59px 52px;
    margin-bottom: 0;
    grid-column: span 2;
  }
}

.main-content__header {
  margin: 0 0 43px;
  word-break: break-word;

  @include tablet-min-width {
    padding-top: 15px;
    margin-bottom: 32px;
  }

  @include desktop-min-width {
    grid-column: 1 / -1;
  }
}

.main-content__description {
  box-sizing: border-box;
  margin: 0 0 48px;
  padding: 0;

  @include tablet-min-width {
    margin: 0 0 46px;
  }

  @include desktop-min-width {
    grid-column: 1 / -1;
    margin-bottom: 24px;
  }
}
