@import "lib";

.navigation {
  display: inline-block;
}

.navigation__list {
  border-bottom: 1px solid $color-special-gray;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;

  @include tablet-min-width {
    border-bottom: unset;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 10px 26px;
  }
}

.navigation__wrapper {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;
  z-index: 1;

  &--nojs {
    display: block;
  }

  &--opened {
    display: block;
  }

  @include tablet-min-width {
    display: flex;
    position: unset;
    justify-content: flex-end;
  }
}

.navigation__link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 17px 4px 8px;
  background-color: $color-white;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 20px;
  border-top: 1px solid $color-gray;
  color: $color-black;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $color-gray-light;
  }

  &:focus {
    background-color: $color-gray-light;
    outline: none;
  }

  &:active {
    color: $color-black-active;
  }

  @include tablet-min-width {
    background-color: unset;
    border-top: none;
    font-size: 18px;
    line-height: 24px;
    transition: opacity 0.3s ease;

    &--current {
      border-bottom: 2px solid $color-green;
    }

    &:hover {
      background-color: unset;
      opacity: 0.6;
    }

    &:focus {
      opacity: 0.6;
      outline: auto;
      background-color: unset;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @include desktop-min-width {
    font-size: 20px;
    line-height: normal;
    padding: 17px 3px 8px;

    &--color {
      color: $color-white;
      border-color: $color-white;
    }

    &:active {
      opacity: 0.3;
      color: $color-white;
    }
  }
}

.navigation__burger-menu {
  background-color: transparent;
  position: relative;
  width: 24px;
  height: 24px;
  border: none;
  display: flex;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 2px;
    background-color: $color-black;
    box-shadow:
      0 8px $color-black,
      0 -8px $color-black;
  }

  @include tablet-min-width {
    display: none;
  }
}

.navigation__burger-menu--opened {
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 24px;
    height: 2px;
    background-color: $color-black;
    box-shadow: none;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 24px;
    height: 2px;
    background-color: $color-black;
  }
}
