@import "lib";

.other-products {
  position: relative;
}

.other-products__wrapper {
  @include desktop-min-width {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-bottom: 87px;
  }
}

.other-products__header {
  margin: 0 0 32px 0;

  @include tablet-min-width {
    margin-bottom: 79px;
  }

  @include desktop-min-width {
    margin-bottom: 78px;
  }
}

.other-products__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include desktop-min-width {
    grid-column: 1 / 4;
  }
}

.other-products__item:last-child {
  padding-bottom: 19px;
  border-bottom: 2px solid $color-gray-dark;
}

.other-products__promotion {
  margin: 35px 0;
  padding-top: 58px;
  padding-bottom: 40px;
  min-height: 290px;
  box-sizing: border-box;

  @include tablet-min-width {
    min-height: 199px;
    padding-top: 40px;
  }

  @include desktop-min-width {
    grid-column: span 1;
    margin: 0;
    padding: 0;
  }
}
