@import "lib/mixins";
@import "lib/vars";
@import "lib/colors";

.program {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: space-between;
  gap: 22px 20px;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "image heading"
    "text text"
    "link link";

  @include tablet-min-width {
    position: relative;
    display: grid;
    align-items: start;
    gap: 24px 60px;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "heading image"
      "text image"
      "link image";
  }

  @include desktop-min-width {
    gap: 27px 62px;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "image heading"
      "text text"
      "link link";
  }
}

.program__heading {
  grid-area: heading;
  position: relative;
  display: inline-block;
  margin: 0;

  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  word-break: break-word;

  @include tablet-min-width {
    font-size: 36px;
    line-height: 36px;
  }
}

.program__image-wrapper {
  grid-area: image;
  position: relative;
  display: grid;
  background-color: $color-green;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-shrink: 0;

  @include tablet-min-width {
    width: 200px;
    height: 200px;
  }

  @include desktop-min-width {
    width: 100px;
    height: 100px;
  }
}

.program__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.program__text {
  grid-area: text;
  margin: 0;
  padding-bottom: 23px;

  color: $color-black--dark;
  border-bottom: 2px solid $color-gray--dark;
  word-break: break-word;

  @include tablet-min-width {
    border-bottom: none;
    padding-bottom: 0;
    max-width: 600px;

    font-size: 16px;
    line-height: 24px;
  }

  @include desktop-min-width {
    padding-top: 12px;
  }
}

.program__link {
  padding-right: 15px;

  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: $color-black;

  @include tablet-min-width {
    font-size: 20px;
  }
}

.program__link-wrapper {
  grid-area: link;

  &::after {
    content: url("../img/program/icon-arrow.svg");
  }

  @include tablet-min-width {
    margin-top: 28px;
  }
}
