@import "lib";

.program {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: space-between;
  gap: 22px 20px;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "image heading"
    "text text"
    "link link";

  @include tablet-min-width {
    position: relative;
    display: grid;
    align-items: start;
    gap: 22px 56px;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "heading image"
      "text image"
      "link image";
  }

  @include desktop-min-width {
    gap: 27px 62px;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "image heading"
      "text text"
      "link link";
  }
}

.program__heading {
  grid-area: heading;
  position: relative;
  display: inline-block;
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  word-break: break-word;
  letter-spacing: -0.9px;

  @include tablet-min-width {
    font-size: 34px;
    line-height: 36px;
    letter-spacing: 0.1px;
  }
}

.program__image-wrapper {
  grid-area: image;
  position: relative;
  display: grid;
  background-color: $color-green;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-shrink: 0;

  @include tablet-min-width {
    width: 200px;
    height: 200px;
  }

  @include desktop-min-width {
    width: 100px;
    height: 100px;
  }
}

.program__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--slim {
    width: 36px;
    height: 50px;
  }

  &--power {
    width: 67px;
    height: 28px;
  }

  @include tablet-min-width {
    &--slim {
      width: 140px;
      height: 194px;
    }

    &--power {
      width: 276px;
      height: 112px;
    }
  }

  @include desktop-min-width {
    &--slim {
      width: 70px;
      height: 97px;
    }

    &--power {
      width: 134px;
      height: 56px;
    }
  }
}

.program__text {
  grid-area: text;
  margin: 0;
  padding-bottom: 23px;

  color: $color-black-dark;
  border-bottom: 1px solid $color-gray-dark;
  word-break: break-word;

  @include tablet-min-width {
    border-bottom: none;
    padding-bottom: 0;
    max-width: 600px;

    font-size: 16px;
    line-height: 25px;
  }

  @include desktop-min-width {
    padding-top: 12px;
    line-height: 24px;
  }
}

.program__link {
  padding-right: 13px;
  display: flex;
  gap: 16px;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet-min-width {
    gap: 25px;
    font-size: 20px;
    padding-right: 21px;
  }
}

.program__link:hover .program__link-arrow {
  transform-origin: left;
  transform: scaleX(1.2);
}

.program__link-arrow {
  width: 32px;
  height: 12px;
  transition: transform 0.3s ease, transform-origin 0.3s;
}

.program__link-wrapper {
  grid-area: link;
  display: flex;

  @include tablet-min-width {
    margin-top: 36px;
  }

  @include desktop-min-width {
    margin-top: 8px;
  }
}
