@import "lib";

.promotion {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet-min-width {
    flex-direction: row;
    justify-content: space-between;
    margin: 70px 0 75px;
    padding: 0 0 0 0;
  }

  @include desktop-min-width {
    margin: 0;
    flex-direction: column;
    justify-content: center;
    gap: 46px;
  }
}

.promotion__bg-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    background-color: $color-green;
  }
}

.promotion__bg-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.promotion__icon {
  margin-bottom: 48px;
  width: 78px;
  height: 81px;

  @include tablet-min-width {
    margin: 0;
    padding-left: 79px;
  }

  @include desktop-min-width {
    padding-left: 0;
    padding-top: 15px;
  }
}

.promotion__text {
  margin: 0;
  width: 170px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;

  @include tablet-min-width {
    text-align: start;
    padding-right: 116px;
  }

  @include desktop-min-width {
    text-align: center;
    padding: 0;
  }
}

.promotion__text--color {
  color: $color-white;
}
