@import "lib";

.results {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
}

.results__text {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 24px;
  padding: 15px 10px 15px;
  line-height: 24px;
  width: 124px;
  box-sizing: border-box;
  border: 1px solid $color-special-gray;
  border-radius: 4px;
  word-break: break-word;

  @include tablet-min-width {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
  }
}

.results__definition {
  position: relative;
  padding: 0 10px;
  top: -8px;
  font-size: 12px;
  line-height: 12px;
  width: 60px;
  text-align: center;
  background-color: inherit;
  word-break: break-word;

  @include tablet-min-width {
    font-size: 14px;
    line-height: 14px;
    width: 125px;
    background-color: $color-white;
  }

  @include desktop-min-width {
    background-color: $before-after-slider-color;
  }
}
