@import "lib";

.social-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 24px;

  @include tablet-min-width {
    justify-content: center;
    flex-shrink: 0;
    border: none;
  }
}

.social-list__link {
  display: block;
  line-height: 0;
  transition: opacity 0.3s ease;
}

.social-list__link:hover .social-list__icon {
  fill: $color-green;
}

.social-list__link:active .social-list__icon {
  opacity: 0.3;
}

.social-list__icon {
  width: 28px;
  height: 22px;
  fill: $color-black-light;
  transition: fill 0.3s ease, opacity 0.3s ease;
}
