@import "lib";

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  @include tablet-min-width {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

.social__logo-wrapper {
  @include tablet-min-width {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 33%;
  }
}

.social__font-logo {
  flex-shrink: 0;
  width: 128px;
  height: 24px;
}

.social__font-logo-link {
  text-decoration: none;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @include tablet-min-width {
    display: flex;
  }
}
