@import "lib";

.social-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;

  @include tablet-min-width {
    flex-shrink: 0;
    width: auto;
    border: none;
    max-width: 33%;
  }
}

.social-list__link {
  display: block;
  line-height: 0;
}
