@import "lib/vars";
@import "lib/colors";
@import "lib/mixins";
@import "fonts";
@import "visually-hidden";
@import "navigation";
@import "header";
@import "hero";
@import "page-header";
@import "header-slogan";
@import "button-primary";
@import "program";
@import "subtitle";
@import "./main-content";
@import "./main-container";
@import "./description";
@import "./description-item";
@import "./living-example";
@import "./results";
@import "./before-after-slider";
@import "./contacts";
@import "./map";
@import "./footer";
@import "./social";
@import "./social-list";
@import "./partners";
@import "./form";
@import "./fieldset";
@import "./label";
@import "./custom-radio";
@import "./custom-checkbox";
@import "./catalog.scss";
@import "./catalog-list.scss";
@import "./card.scss";
@import "./button-secondary.scss";
@import "./button.scss";
@import "./other-products.scss";
@import "./promotion.scss";
@import "./global.scss";
@import "./border-top.scss";
