@import "lib";

.subtitle {
  position: relative;
  padding: 24px 0 0;
  margin-bottom: 35px;
  background-color: $color-white;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;

  &::after {
    content: "";
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    height: 2px;
    background-color: $color-green;
    z-index: 1;
  }

  @include tablet-min-width {
    padding-top: 0;
    font-size: 36px;
    line-height: 36px;

    &::after {
      top: 22px;
    }
  }
}

.subtitle__text {
  position: relative;
  z-index: 2;
  display: inline-block;
  background-color: $color-white;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
  word-break: break-word;

  &--user-contacts {
    max-width: 185px;
  }

  @include tablet-min-width {
    max-width: 600px;
    padding: 0 40px;
    margin-left: 30px;
  }

  @include desktop-min-width {
    margin-left: 70px;
  }
}
