@import "lib";

.user-contacts__header {
  margin-bottom: 36px;

  @include tablet-min-width {
    margin-bottom: 76px;
  }
}

.user-contacts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;

  @include tablet-min-width {
    gap: 20px;
  }

  @include desktop-min-width {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.user-contacts__subtitle {
  width: 185px;

  @include tablet-min-width {
    width: unset;
  }
}

.user-contacts__input {
  padding: 14px 40px 10px 14px;
}
